
#app {
  position: relative;
}

.main-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content .main-container {
  width: 75vw;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.main-container .cart-products {
  //height: 25rem;
  //max-height: 28rem;

}

.cartpage-products .cartpage-product {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  margin: 0.5rem 0;
  background-color: #e1e1e1;
}

.cartpage-product .cartpage-product-controls {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  gap: 0.5rem;
  padding: 0.1rem 0.6rem;
  border-radius: 30px;
  background-color: #dadada;
  font-weight: bold;
  width: 3rem;
  //box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.2)
}

.cartpage-product-image img {
  width: 10rem;
  height: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  min-height: 10rem;
    max-height: 10rem;
  object-fit: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin-left: 0.2rem;
}

.cartpage-product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.cartpage-total {
  display: flex;
  justify-content: flex-end;
}

.cartpage-product-controls .lower-btn, .cartpage-product-controls .higher-btn {
  cursor: pointer;
  padding: 0.1rem;

  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}


.checkout-wrapper {
  height: 5rem;
  width: 75vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
  box-shadow: 0px 0px 41px -3px rgba(0,0,0,0.6);
}

.cartpage-total, .checkout-button {
  margin: 0 1rem;
}

.checkout-button {
  cursor: pointer;
  padding: 0.3rem;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: scale(1.1);
    background-color: #565656;
    color: linen;
    border: 1px solid #2df1f1;
  }
}

footer {
  margin: 2rem 0 0 0;
  background-color: #343434;
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;

}


