body {
  marrgin: 0;
  overflow-x: hidden;
}

.product {
  display: flex;
  border: 1px solid black;
  max-width: 500px;
  min-height: 40rem;
  position: relative;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.images {
  position: absolute;
  top: 0;
  width: 500px;
  display: flex;
  margin: 0 auto;
}
.images img {
  min-width: 500px;
  min-height: 312px;
  width: 500px;
  object-fit: cover;
  height: 312px;
}

.left-arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 8.15rem 0;
  color: linen;
  font-size: 2.5rem;
  text-align: center;
  z-index: 10;
}

.right-arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  margin: 0;
  padding: 8.15rem 0;
  top: 0;
  right: 0;
  color: linen;
  font-size: 2.5rem;
  text-align: center;
  z-index: 10;
}

.arrow-transparent {
  background-color: #9a9a9a;
  opacity: 0;
  &:hover{
    opacity: 0.3;
  }
}

.info {
  margin-top: 60%;
}

.main-info {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.main-info p {
  font-size: 1.5rem;
}
h1{
  margin-bottom: 0;
}
p {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 0;
}

.item-section-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.item-section-2{
  margin: 0;
}