

html {

}

body {
  margin: 0;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
  //padding: 50px;
  box-sizing: border-box;

  &.with-bg {
    background-image: url("../../public/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  }
  .shop-items{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    min-height: 70vh;
    min-width: 80vw;
    gap: 10px;

  }
  .item{
    border: 1px solid red;

  }

}
