
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul.top-nav {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  margin: 0 0 3rem 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}


.logo {
  position: absolute;
  font-family: Verdana, serif;
  border: 1px solid black;
  margin: 0.2rem;
  float: left;
  font-size: 1rem;
}

.logo a:hover {
  font-size: 1.5rem;
  padding: 1.5rem;
  color: darkblue;
  opacity: 0.7;
}

ul.top-nav li {
  float: right;
  text-transform: uppercase;
}

ul.top-nav li a {
  display: flex;
  color: black;
  text-decoration: none;
  gap: 1.5rem;
  transition: 0.4s;
  font-size: 2rem;
  margin: 1.5rem;
}

ul.top-nav li a:hover {
  font-weight: bold;
}

.effect-1 a::before,
.effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.effect-1 a::before {
  margin-right: 1rem;
  content: '[';
  -webkit-transform: translateX(2rem);
  -moz-transform: translateX(2rem);
  transform: translateX(2rem);
}

.effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-2rem);
  -moz-transform: translateX(-2rem);
  transform: translateX(-2rem);
}

.effect-1 a:hover::before,
.effect-1 a:hover::after,
.effect-1 a:focus::before,
.effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

ul.top-nav li.icon {
  display: none;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo h1 {
  font-size: 7rem;
  font-family: 'Droid Serif', 'Garamond', serif;

}

.promo h2 {
  font-size: 3.5rem;
  font-family: 'Droid Serif', 'Garamond', serif;
  margin-top: 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  grid-gap: 3rem;
  grid-row-gap: 5rem;
  max-width: 120rem;
  margin: 5rem auto;
  padding: 5rem;
}

.products-item {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 2rem;
  line-height: 0.5rem;
  margin-inline: 3rem;
}

.product-description {
  line-height: normal;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 0 2rem 0 2rem;
}

.products-item:nth-child(even) {
  background-color: lightblue;
}

.products-item:nth-child(odd) {
  background-color: lightsteelblue;
}

.product-image {
  max-width: 100%;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  align-self: normal;
  object-position: top left;
  -moz-border-radius-topright: 2rem;
  -webkit-border-top-right-radius: 2rem;
  border-top-right-radius: 2rem;
  -moz-border-radius-topleft: 2rem;
  -webkit-border-top-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.product-image:hover {
  opacity: 0.9;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18), 0 0 12px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.product-button {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  -moz-border-radius-bottomright: 2rem;
  -webkit-border-bottom-right-radius: 2rem;
  -moz-border-radius-bottomleft: 2rem;
  -webkit-border-bottom-left-radius: 2rem;
  border: none;
  height: 5rem;
  font-size: 2rem;
}

.product-button:hover {
  opacity: 0.9;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18), 0 0 12px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.product-title {
  text-align: center;
  line-height: normal;
}

.product-price {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: crimson;
  font-size: 3rem;
  font-weight: bold;
}


.product-discount-percentage {
  text-align: center;
  text-decoration: line-through;
  text-decoration-color: crimson;
  font-family: 'Roboto', sans-serif;
  margin: 2rem 0 0 0;
  font-style: italic;
}

.product-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.product-rating {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  opacity: 0.75;
  margin: 0.5rem auto;
  font-size: 1.5rem;
}

.product-stock {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  opacity: 0.75;
  margin: 1.5rem auto;
  font-size: 1.5rem;
}

.product-brand {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  opacity: 0.75;
  margin: 0 auto;
  font-size: 1.5rem;
}

.product-category {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  opacity: 0.75;
  margin: 2rem auto 2rem auto;
  font-size: 1.5rem;
}

.pop-up {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 2rem;
    margin: 0 auto;
    padding: 2rem;
    width: 20rem;
    height: 10rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.pop-up span {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    font-weight: bold;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}